@font-face {
  font-family: 'FontsFree-Net-SFProText-Regular';
  src: url('FontsFree-Net-SFProText-Regular.eot');
  src: url('FontsFree-Net-SFProText-Regular.eot?#iefix') format('embedded-opentype'),
       url('FontsFree-Net-SFProText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProText-Regular';
  src: url('SFProText-Regular.svg#SFProText-Regular') format('svg'),
       url('SFProText-Regular.ttf') format('truetype'),
       url('SFProText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

